<div>
    <p><%= "username: " if Current.user %><%= Current.user.username if Current.user %></p>
    <p><%= "admin: " if Current.user&.admin? %><%= Current.user.admin if Current.user&.admin? %></p>
    <p><%= "business: " if Current.user&.business? %><%= Current.user.business if Current.user&.business? %></p>
    <p><%= "customer: " if Current.user&.customer? %><%= Current.user.customer if Current.user&.customer? %></p>
</div>